Estilos para la página de inicio 
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e01919 !important;
    color: #333;
  }
  
  .jumbotron {
    background-color: goldenrod !important;
    text-decoration: dashed;
    text-orientation: sideways-right;
  }
  header.masthead .container .img-fluid {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #701313;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-image: url("../img/img-masthead.png");
    height: 100vh; /* Establecer altura completa de la ventana */
    background-color: #a30f0f;
  }
  /* header */
  header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  
  @media (min-width: 768px) {
    header.masthead {
        padding-top: 17rem;
        padding-bottom: 12.5rem;
        
    }
    header.masthead .masthead-subheading {
      font-size: 2.25rem;
      font-style: italic;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem;
    }
}
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .footer {
    background-color: #333;
    color: #b31717;
    padding: 50px 0;
 }
 .container-fluid {
    padding: 0;
    }
     .cta-section-heading {
    font-size: 30px;
    }
    
    .cta-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 30px;
    }
    
    /* Contact Section */
.contact-section {
    padding: 100px 0;
    }
    
    .contact-heading h2 {
    font-size: 40px;
    margin-bottom: 50px;
    }
    
    .contact-form {
    margin-bottom: 50px;
    }
    
    .form-group {
    margin-bottom: 30px;
    }
    
    .form-control {
    height: 50px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #a30f0f;
    }
    
    .form-control:focus {
    border-color: #FF756C;
    box-shadow: none;
    }
    
    textarea.form-control {
    height: 150px;
    resize: none;
    }
    
    .btn-contact {
    background-color: #FF756C;
    color: #4b0202;
    border-radius: 0;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    }
    
    .btn-contact:hover {
    background-color: #fff;
    color: #FF756C;
    border: 2px solid #FF756C;
    }
    
    @media screen and (max-width: 767px) {
    .contact-heading h2 {
    font-size: 30px;
    }
    
    .form-control {
    height: 40px;
    }
    
    .textarea.form-control {
    height: 100px;
    }
    
    .btn-contact {
    font-size: 16px;
    padding: 10px 20px;
    }
    }
    
    /* Footer Section */
    